.modal-header {
  border: none;
  text-align: center;
  .modal-title {
    margin: auto;
    color: #fff;
  }
}

.leftCol {
  padding: 30px 20px;
  background-color: #f1f1f1;
  margin: 0px 10px 20px 20px;
  border-radius: 5px;
  h4 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 0px;
    .form-label {
      font-size: 13px;
      margin-left: 5px;
      color: #888585;
    }
    .form-control {
      font-size: 15px;
    }
    .error {
      height: 18px;
      margin-top: -6px;

      small {
        margin-left: 5px;
        font-size: 10px;
        color: red;
      }
    }
  }
}

.rightCol {
  padding: 30px 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 0px 20px 20px 10px;
  h4 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 13px;
    .form-label {
      font-size: 13px;
      margin-left: 5px;
      color: #888585;
    }
    .form-control {
      font-size: 15px;
    }
  }

  .imgHolder {
    img {
      // margin-left: 1rem;
      max-width: 100px;
      max-height: 100px;
    }
    .placeholder {
      width: 100px;
      height: 100px;
      // background-color: #6f6f6f;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./RegisterForm/placeholder.jpeg);
    }
  }
  .optImg {
    .custom-file {
      font-size: 13px;
    }
    .datePicker {
      margin-top: 8px;
      display: flex;
      align-items: center;
      .form-label {
        font-size: 12px;
        text-align: center;
        // margin-left: 15px;
        margin: 0px 0px 0px 15px;
        // padding-top: 8px;

        color: #888585;
      }
      .react-datepicker-wrapper {
        width: 50%;
        input {
          width: 100%;
          text-align: center;
          display: block;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          font-size: 13px;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
        }
      }
      .react-datepicker__tab-loop {
        z-index: 2000 !important;
      }
    }
  }

  .modal-footer {
    justify-content: center;
    height: 50px;
  }
}
